{% extends 'myapp/base.html' %}

{% block title %}Шёлк - Ткани мира{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="https://ae01.alicdn.com/kf/HTB10FguJFXXXXbrXpXXq6xXFXXXq/Luxury-Style-7-Colors-Stretchy-pure-silk-satin-fabric-good-luster-solid-color-smooth-sew-for.jpg" alt="Шёлковая ткань" class="img-fluid rounded shadow">
        </div>
        <div class="col-md-6">
            <h1 class="mb-4">Шёлковая ткань</h1>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Особенности:</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Натуральное белковое волокно</li>
                        <li class="list-group-item">Гипоаллергенный материал</li>
                        <li class="list-group-item">Прекрасно драпируется</li>
                        <li class="list-group-item">Терморегулирующие свойства</li>
                    </ul>
                </div>
            </div>
            <div class="mt-4">
                <h5>Использование:</h5>
                <p>Шёлк применяют для пошива элитной одежды, постельного белья, штор и аксессуаров.</p>
                <a href="/" class="btn btn-outline-primary">На главную</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}